.header__wrapper{
  background-color: #bdddf3;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
.adminButton{
  margin-left: 50px;
}
.header__button_start{
  position: absolute;
  left: 25vw;
  outline: none;
  border: none;
  width: 54px;
  height: 30px;
  border-radius: 50%;
  background-color: lemonchiffon;
  color: cadetblue;
  text-transform: uppercase;
}
.header__button_statistic{
  position: absolute;
  bottom: 150px;
  width: 200px;
  left: -85px;
  height: 30px;
  border-radius: 5px 5px 0 0;
  outline: none;
  border: none;
  background: yellow;
  letter-spacing: 0.5vw;
  text-transform: uppercase;
  color: brown;
  transform: rotate(90deg);
}
.header_button_home{
  position: absolute;
  right: -6px;
  top: 90%;
  transform: rotate(270deg);
  border: none;
  background: yellow;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 51;
}
