.header__checkbox{
  width: 150px;
  height: 50px;
  background-color: rgb(146, 165, 248);
  position: absolute;
  right: 10px;
  border-radius: 30px;
  box-shadow: inset 1px 1px 10px 10px #5356b4;
  input{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0;
  }
  span{
    font-size: 20px;
  }
  .text{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    color: antiquewhite;
  }
}

.header__checkbox:checked ~ .switcher__wrapper>.switcher__circle {
  left: 50%
}
.switcher__wrapper{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.switcher__circle{
  width: 48%;
  background-color: rgb(254, 196, 251);
  box-shadow: inset 1px 1px 10px 10px #cc9fc7;
  border-radius: 30px;
  transition: all cubic-bezier(1,-0.05,.7,1.16) 500ms;
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  margin-top: 2%;
}
