.register{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(235 194 235 / 88%);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.registerWrapper{
  display: flex;
  flex-flow: column nowrap;
  width: 40vw;
  max-width: 300px;
  min-width: 150px;
  position: relative;
  button{
    border: none;
    outline: none;
    margin: 5px 0;
    line-height: 30px;
    letter-spacing: 3px;
    border-radius: 20px;
    text-transform: uppercase;
    color: blueviolet;
    background: #f4dad1;
    box-shadow: 0px 0px 10px 1px #3c1362;
    transition: all ease 500ms;
  }
  button:hover{
    transform: scale(0.97);
    box-shadow: 0px 0px 12px 5px #3c1362;
  }
}

.register__form{
  input{
    opacity: 0;
    width: 100%;
    border: none;
    line-height: 30px;
    margin: 5px 0;
    outline: none;
    border-radius: 20px;
    color: blueviolet;
    box-shadow: 0px 0px 10px 1px #3c1362;
  }
  ::-webkit-input-placeholder{
    padding: 15px;
    letter-spacing: 2px;
    color: #c7525294;
  }
 :-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
  }

 :-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
    -webkit-text-fill-color: #333;
  }

  //::-internal-input-suggested{
  //
  //}
}
.register-close{
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -20px;
  color: white;
  font-size: 1.5rem;
}
.register__submit{
  display: none;
}
